.places {
    display: flex;
    flex-flow: column nowrap;

    margin: 92px 0;
    padding: 0 148px;

    list-style: none;
}

@media (max-width: 1024px) {
    .places {
        margin: 92px 0;
        padding: 0 48px;
    }
}

@media (max-width: 768px) {
    .places {
        padding: 0 24px;
    }
}

@media (max-width: 320px) {
    .places {
        margin: 62px 0 62px 0;
        padding: 0;
    }
}
