.header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 0 50px;

    font-weight: 900;
}

@media (max-width: 320px) {
    .header {
        padding: 0 16px;
    }
}
