.lead__image {
    max-width: 100%;
    height: 615px;

    background: center/100% url(../../../images/lead/kalegin-michail-179870-unsplash.png) no-repeat;
}

@media (max-width: 1024px) {
    .lead__image {
        padding: 0 48px 0 48px;
    }
}

@media (max-width: 768px) {
    .lead__image {
        height: 460px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .lead__image {
        width: 320px;
        height: 200px;
    }
}
