.lead__image {
    position: relative;

    width: 100%;
    max-width: 100%;
    min-height: 615px;
    margin: 0;

    background: center/cover url(../../../images/lead/kalegin-michail-179870-unsplash.png) no-repeat;

    object-position: center;
    object-fit: cover;
}

@media (max-width: 768px) {
    .lead__image {
        min-height: 460px;
        padding: 0;
    }
}

@media (max-width: 450px) {
    .lead__image {
        width: 100%;
        min-height: 200px;
    }
}
