.lead__stopovers {
    position: relative;
    top: 125px;
    left: 50%;

    width: 885px;
    height: 225px;

    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .lead__stopovers {
        width: 835px;
        height: 211px;
    }
}

@media (max-width: 768px) {
    .lead__stopovers {
        width: 691px;
        height: 175px;
    }
}

@media (max-width: 320px) {
    .lead__stopovers {
        top: 41px;

        width: 288px;
        height: 73px;
    }
}
