.cover {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;

    height: 740px;
    margin: 0 48px;

    text-decoration: none;
    text-decoration: none;

    color: white;
    background: url(../../images/cover/__background.png) no-repeat, rgba(42, 44, 47, .3);
    background-size: cover;

    background-blend-mode: multiply;
}

.cover:hover {
    background: url(../../images/cover/__background.png) no-repeat, rgba(42, 44, 47, .8);
}

@media (max-width: 1200px) {
    .cover {
        max-width: 100%;
        height: 640px;
        margin: 0;
    }
    .cover:hover {
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .cover {
        height: 480px;
    }
}

@media (max-width: 320px) {
    .cover {
        height: 200px;
    }
}
