.places__place {
    display: grid;

    grid-template-columns: 46% 50%;
    gap: 48px 40px;
}

.places__place:not(:first-child) {
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .places__place {
        gap: 48px 32px;
    }
}

@media (max-width: 768px) {
    .places__place {
        margin-top: 73px;

        gap: 48px 28px;
    }
}

@media (max-width: 550px) {
    .places__place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}

@media (max-width: 375px) {
    .places__place:not(:first-child) {
        margin-top: 50px;
    }
}
