.places__place {
    display: grid;

    grid-template-columns: 460px 484px;
    grid-template-rows: auto;
    gap: 40px 48px;
}

.places__place:not(:first-child) {
    margin-top: 80px;
}

@media (max-width: 1024px) {
    .places__place {
        grid-template-columns: 440px 1fr;
        gap: 32px 48px;
    }
}

@media (max-width: 768px) {
    .places__place {
        grid-template-columns: 340px;
        gap: 48px 28px;
    }
}

@media (max-width: 320px) {
    .places__place {
        grid-template-columns: 320px;
        gap: 32px;
    }

    .places__place:not(:first-child) {
        margin-top: 50px;
    }
}
