.footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin: 92px 48px 0 48px;
}

@media (max-width: 768px) {
    .footer {
        margin: 92px 24px 0 24px;
    }
}

@media (max-width: 550px) {
    .footer {
        flex-flow: column nowrap;

        margin: 62px 16px 0 16px;
    }
}
